extends layout

block content
  if !nickname
    form.form.form--nickname
      .form__group
          h2.heading-secondary Choose your nickname:
          hr
      .form__group
        input.form__input(type="text" id="nickname" name="nickname" required autocomplete="off")
      button.btn.btn--fill Enter
  else
    script.
      socket.emit('join', '#{nickname}');
  
  .lobby
    h1.heading-primary Study Chat

    .lobby__flex 
      .lobby__buttons
        button.btn-lobby.btn-lobby--create-room Create Room
        button.btn-lobby.btn-lobby--refresh Refresh

      .lobby__roomlist
        h3.heading-tertiary Rooms
        ul.lobby__list

      .lobby__userlist
        h3.heading-tertiary Users in Lobby
        ul.lobby__list

  form.form.form--create-room(action="" method="POST")
    h2 Create Room
    label(for="room_name") Room Name:
    input(type="text" id="room_name" name="room_name" required autocomplete="off")
    label(for="password") Password:
    input(type="password" id="password" name="password")
    input(type="submit" value="Create")
    input(type="button" value="Cancel")

  script(src="/javascripts/index.js")
