doctype html
html
  head
    title Pomodoro Chat
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io();
  body
    block content
