doctype html
html
  head
    title Study Chat
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .prompt
      h2 Wrong Password
      a(href="/") Back
  
    script(src="/javascripts/password.js")
