doctype html
html
  head
    title Study Chat
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .prompt
      h2.heading-secondary.u-margin-bottom-small Wrong Password
      a.btn.btn--fill(href="/") Back
