doctype html
html
  head
    title Study Chat
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form.form.form--center(action="" method="POST")
      h2.heading-secondary Password Required
      .form__group
        label.form__label(for="password") Password:
        input.form__input(type="password" id="password" name="password")
      .form__group
        input.btn.btn--pos(type="submit" value="Join")
        input.btn.btn--neg(type="button" value="Cancel" onclick="window.location.href='/'")


