extends layout

block content
  script.
    socket.emit('join room', "#{id}");

  h1= name

  a(href="/") Leave

  .userlist
    h3 Users in room
    ul

  .messenger
    ul.chat
    form.form--message
      input#messagebox(autocomplete='off')
      button send

  script(src="/javascripts/room.js")

