extends layout

block content
  script.
    let roomId = '#{id}';

  .textChat
    h1= name

    .buttonGroup
      a.btn-circle(href='/' title='Back') 
        i.ion-android-arrow-back
      button.btn-circle.btn-circle--green.videochat__call(title='Start/Join Call') 
        i.ion-ios-telephone

    .messageArea.visibility-visible
      ul.chat
      form.chatBox
        input.chatBox__input(autocomplete='off' placeholder='Type a message here')

    .userlist
      h3.heading-tertiary.list__heading Users in room
      ul.list
      
  .videoChat.display-none
    .pomodoro
      h1.pomodoro__timer 25:00
      .pomodoro__timing-buttons
        button.pomodoro__start(data-action='start') Start
        button.pomodoro__stop(data-action='stop') Stop
        button.pomodoro__reset(data-action='reset') Reset
      .pomodoro__break-buttons
        button(data-action='short') Short Break
        button(data-action='long') Long Break
        button(data-action='skip') Skip Break
      audio.ring
        source(src='/ring.mp3' type='audio/mpeg')      

    .videoArea

    .videoChat__buttons
      button.btn-circle.btn-circle--red.videochat__call.videochat__hangup(title='Hang Up')
        i.ion-ios-telephone
      button.btn-circle.videochat__hideVideo(title='Show/Hide Video') 
        i.ion-eye
      button.btn-circle.videochat__mute(title='Mute/Unmute') 
        i.ion-android-microphone
      button.btn-circle.showChat(title='Show Chat')
        i.ion-ios-chatbubble
        
    .inCall

  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js')
  script(src='https://webrtc.github.io/adapter/adapter-latest.js')
  script(src='/javascripts/roomElements.js')
  script(src='/javascripts/room.js')
  script(src='/javascripts/videochat.js')
  script(src='/javascripts/pomodoro.js')
  script(src='/javascripts/loading.js')  

