.lobby {
  
  background-image: linear-gradient(165deg, $color-grey-light 0%, $color-grey-light 95%, $color-primary 95%);
  height: 94vh;
  position: relative;

  & h1 {
    // text-align: center;
  }

  &__flex > * {
    margin: 1rem 1.5rem;

    & > h3 {
      border-top-left-radius: $list-border-radius;
      border-top-right-radius: $list-border-radius;
      background: darken($color-primary-light, 1%);
      padding: 1rem 2rem;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    position: relative;
    margin: 3rem auto;
    font-weight: 700;
  }

  &__roomlist {
    flex: 3;

    & li:hover {
      background-color: darken($color-white, 5%);      
    }

    & li:nth-child(even):hover {
      background-color: darken($color-primary-light, 5%);
    }
  }

  &__userlist {
    flex: 1;

    & li {
      padding: 1rem 2rem;      
    }
  }

  &__list {
    list-style-type: none;
    height: 70vh;
    overflow-y: auto;    
    background-color: $color-primary-complementary;
    border: .3rem solid darken($color-primary-light, 1%);

    & li {
      font-size: $default-font-size;
      background-color: $color-white;
      transition: all .2s;      
    }

    & li:nth-child(even) {
      background: $color-primary-light;
    }

    & a,
    & a:link,
    & a:visited {
      text-decoration: none;
      color: $color-black;
      display: block;
      padding: 1rem 2rem;
    }

    & a:hover, 
    & a:active,
    & a:focus {
      outline: none;
    }
  }

  &__buttons {
    position: absolute;
    transform: translateY(-110%);
  }
}