.page-padding {
  padding: 3rem;
}

.lobby {

  background-image: linear-gradient(165deg, $color-grey-light 0%, $color-grey-light 95%, $color-primary 95%);
  height: 94vh;
  position: relative;

  &__flex > * {
    margin: 1rem 1.5rem;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    position: relative;
    top: 13rem;
    margin: 0 auto;
    font-weight: 700;

    & > h1 {
      position: absolute;
      top: -14rem;
    }
  }

  &__roomlist {
    flex: 3;

    & li:hover {
      background-color: darken($color-white, 5%);      
    }

    & li:nth-child(even):hover {
      background-color: darken($color-primary-light, 5%);
    }
  }

  &__userlist {
    flex: 1;

    & li {
      padding: 1rem 2rem;      
    }
  }

  &__buttons {
    position: absolute;
    transform: translateY(-115%);
  }
}