// COLORS
$color-primary: #FF6107; 
$color-primary-light: #ffb900;
$color-primary-dark: #b24304 ;

$color-primary-complementary: #FFEFD5;

$color-black: #000;
$color-white: #fff;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;

$color-green: #50c878;

$color-red: #c21807;

$color-blue: #2196f3;

// FONT
$default-font-size: 1.6rem;
$list-border-radius: .5rem;