// COLORS
$color-primary: #FF6107; 
$color-primary-light: #ffb900;
$color-primary-dark: #b24304 ;

$color-black: #000;
$color-white: #fff;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;


// FONT
$default-font-size: 1.6 rem;